body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1531297484001-80022131f5a1');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    backdrop-filter: blur(2px);
}

/* Tạo lớp phủ mờ nhẹ */
.container {
    background: rgba(237, 233, 236, 0.9);
    padding: 30px 50px;
    border-radius: 80px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: auto;
    transition: transform 0.3s ease;
}

.container:hover {
    transform: scale(1.01);
}

h1 {
    color: #333;
    margin-bottom: 5%;

}

label {
    display: block;
    margin: 10px 0 20px;
    text-align: left;
    font-weight: 500;
    color: #030009;
}

input {
    width: 90%;
    padding: 12px 14px;
    border: 1.5px solid #1b18db;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.2s;
}

input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.15);
}

.wrap {
    margin-top: 30px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 18px;
    font-size: 14px;
    color: #555;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}
.message {
    margin: 20px 0;
    padding: 12px 18px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 15px;
    display: none;
    text-align: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
