body {
    background-color: #0D0D0D;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding-top: 80px;
}

main {
    padding-top: 120px;
    max-width: 800px;
    margin: auto;
    font-family: Arial, sans-serif;
}

h2 {
    color: #AF4A92;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;
}

input, select, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}



.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    border-radius: 5px;
    z-index: 9999;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    font-size: 15px;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

.toast.hidden {
    display: none;
}

.toast.error {
    background-color: #f44336;
}
.cuaM{
    font-size: 16px;
    padding: 8px 28px;
    font-weight: 700;
    background-color: transparent;
    border: 2px solid red;
    color: red;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
}
.vitri{
    display: flex;
    justify-content: center;
    align-items: flex-end;  /* đẩy xuống dưới */
}
